.one{
    margin-bottom: 1070px;
    margin-left: 360px;
    margin-top: 100px;

}
.two{
    margin-left: 1000px;
    margin-top: -1310px;
    margin-bottom: 100px;
}

.three{
    margin-left: 350px;
    margin-bottom: 46px;
    margin-top: 100px;
}

.four{
    margin-left: 990px;
    margin-top: -310px;
    margin-bottom: 100px;
}

.five{
    margin-left: 350px;
}

.six{
    margin-left: 1000px;
    margin-bottom: 900px;
    margin-top: -240px;
}